@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #084a21;
  --secondary: #dfedd0;
  --background: #f5f4ea;
  --text: #032e1c;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--text);
  background: var(--background);
}
